---
import Icon from './Icon.astro';

import { translations } from '../i18n/translation.js';
// Define las rutas dinámicas
export async function getStaticPaths() {
  return [
    { params: { lang: 'es' } },
    { params: { lang: 'en' } },
  ];
}

const supportedLangs = ['en', 'es']; // Idiomas soportados
const lang = supportedLangs.includes(Astro.params.lang) ? Astro.params.lang : 'es'; // Fallback al español
const t = translations[lang];
---


<section class="box skills">
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="baby" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>{t.skills.h2.medicine}</h2>
		<p>{t.skills.p.medicine}</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="brain" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>{t.skills.h2.neurology}</h2>
		<p>{t.skills.p.neurology}</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="stethoscope" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>{t.skills.h2.second}</h2>
		<p>{t.skills.p.second}</p>
	</div>
</section>

<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.skills h2 {
		font-size: var(--text-lg);
	}

	.skills p {
		color: var(--gray-400);
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 5rem;
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}
	}
</style>
